---
import { withBase } from "../lib/site";
---

<span class="brand-logo">
  <img
    class="brand-logo__mark"
    src={withBase("/images/logo-mark.webp")}
    alt=""
    width="598"
    height="462"
    aria-hidden="true"
  />
  <span class="brand-logo__wordmark">
    <span>Epistemic</span>
    <span>Experiments</span>
  </span>
</span>
